<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="/dist/css/adminlte.min.css">
	<link rel="stylesheet" href="/plugins/fontawesome-free/css/font-awesome.min.css">

</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<iframe width="720" height="500" style="display:block;margin: 0 auto;" src="https://www.youtube.com/embed/W9nRmH_FLhE?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" style="margin: 0 auto; margin-top:10px; display:block; border-radius: 2px;">
				<a href="/auth/google" class="btn btn-block btn-primary btn-lg">
					<span class="text-danger align-left" id="icon"><i class="fa fa-youtube-play" aria-hidden="true"></i></span>
					Login with youtube
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-3">
				<a href="https://www.facebook.com/groups/redoapp" target="_blank">
					<h5>	<span><i class="fa  fa-facebook-square" aria-hidden="true"></i></span>Support group</h5>
				</a>
			</div>
			<div class="col-sm-2">
				<a href="https://www.facebook.com/Fanpage-redoappcom-113557000412151" target="_blank">
					<h5>	<span><i class="fa  fa-facebook-square" aria-hidden="true"></i></span>Fanpage</h5>
				</a>
			</div>
			<div class="col-sm-3">
				<a href="https://www.youtube.com/channel/UCvrK3w-_n9jPy93tHHJ7Rgg" target="_blank">
					<h5>	<span class="text-danger"><i class="fa fa-youtube-play" aria-hidden="true"></i></span>Hướng dẫn</h5>
				</a>
			</div>
		</div>
	</div>

	<footer>
		<style type="text/css">
		body:{
			 font-family: "Courier New", Times, serif;
		}
			#icon:{
				float: left;
			}
		</style>
	</footer>
</body>
</html>
