<!-- Main Footer -->
<footer class="main-footer" style="position:fixed;bottom:0; width:100%; background-color:#
EEEEEE">
<!-- Default to the left -->
<strong>Copyright &copy; 2020 <a href="http://www.facebook.com/redodht" target="_blank">ReDo Production</a>.</strong> All rights reserved.
</footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>

  </body>
  </html>
