<div class="card card-info">
  <div class="card-body text-center">
    <img src="/img/no-video.png" alt="no video" width="450">
    <h4 class="text-danger">Bạn không thể tham gia chức năng sub chéo vì kênh youtube bạn hiện chưa có video nào</h4>
    <h5 class="text-info">Vui lòng upload ít nhất 1 video trước khi sử dụng chức năng này</h5>
  </div>
</div>
